@using Expenses.Core.Dtos
@model IEnumerable<SubcategoryDto>

@{
    ViewData["Title"] = "Subcategories";
}

<h1 class="text-info">Subcategorias</h1>

@await Html.PartialAsync("_Save", new SubcategoryDto())

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#modalSubcategory" onclick="editSubcategory(@item.Id)">
                        editar
                    </button>
                    <button type="button" class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#modaldeleteSubcategory" onclick="deleteSubcategory(@item.Id)">
                        borrar
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Model.Sum(x=> x.Amount).ToString("c")
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var subcategories = new Array()
        @foreach (var item in Model)
        {
            <text>
                subcategories.push({Id : @item.Id, Name : '@item.Name', CategoryId: @item.CategoryId, Amount: @item.Amount})
            </text>
        }

        function editSubcategory(subcategoryId){
            var subcategory

            subcategory = subcategories.find(x=>x.Id == subcategoryId)
            document.getElementById("Id").value = subcategory.Id
            document.getElementById("CategoryId").value = subcategory.CategoryId
            document.getElementById("Name").value = subcategory.Name
            document.getElementById("Amount").value = subcategory.Amount
        }

        function cancelSubcategory(){
            document.getElementById("Id").value = 0
            document.getElementById("CategoryId").value = ""
            document.getElementById("Name").value = ""
            document.getElementById("Amount").value = 0
        }
    </script>
}