@model IEnumerable<Expenses.Core.Dtos.ExpenseDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubcategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubcategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegister)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.Amount == 0)
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                }
                else
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegister)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
