@model IEnumerable<Expenses.Models.Subcategory>

@{
    ViewData["Title"] = "Subcategorias";
}

<h1 class="text-info">Lista de Subcategorias</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="~/Subcategories/Index?OrderByName=@ViewBag.OrderByName">
                    @Html.DisplayNameFor(x=> x.Name)
                </a>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item" href="~/Subcategories/Index">Todas</a>
                         <a class="dropdown-item" href="~/Subcategories/Index?OrderbyCategory=Asc">a-z</a>
                         <a class="dropdown-item" href="~/Subcategories/Index?OrderbyCategory=Desc">z-a</a>
                        @foreach (var item in ViewBag.ListCategories as List<Category>)
                        {
                            <a class="dropdown-item" href="~/Subcategories/Index?category=@item.Name">@item.Name</a>
                        }                                            
                    </div>
                </div>
            </th>
            <th>
                <a href="~/Subcategories/Index?OrderByAmount=@ViewBag.OrderByAmount">
                    @Html.DisplayNameFor(x=> x.Amount)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int total = (int)Model.Sum(x => x.Amount);
        }
        <tr class="table-info">
            <td></td>
            <td>Total</td>
            <td>@total.ToString("c")</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
        <tr class="table-info">
            <td></td>
            <td>Total</td>
            <td>@total.ToString("c")</td>
            <td></td>
        </tr>
    </tbody>
</table>
@section Scripts {
    <script>
        function orderByName() {
            if (document.getElementById("selectOrderByName").value == "Asc") {
                window.location.href = window.location.href + "/Subcategories/Index?OrderByName=Asc"
            } else {
                window.location.href = "~/Subcategories/Index?OrderByName=Des"
            }
        }
    </script>
}