@model IEnumerable<Expenses.Models.MontsWithoutInterestDetails>

@{
    ViewData["Title"] = "Meses sin interese detalles";
}

<h1 class="text-info">Lista de pagos a meses sin intereses</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontsWithoutInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontsWithoutInterest.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |                
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
